
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Book
    {{#link-to 'books'}}<button style="float: right;" class="btn btn-danger btn-xs">Close</button>{{/link-to}} </h3>
  </div>

  <div class="panel-body">
    <p><b>Title: </b> {{model.title}} </p>
    <p><b> Price: </b>{{model.price}} </p>
    <p><b>Author: </b>{{model.author.name}} </p>
    <p><b>Publisher: </b> {{model.publisher}} </p>
  </div>
</div>
