
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Book</h3>
  </div>
  <div class="panel-body" >
    <p><b> Title: </b> {{model.title}} </p>
    <p> <b>Price: </b>{{model.price}} </p>
    <p><b>Author: </b> {{model.author}} </p>
    <p><b>Publisher: </b>{{model.publisher}} </p>
  </div>
</div>
