<h1>Book list</h1>

{{#link-to 'books.new' class="btn btn-primary"}}Add new book{{/link-to}}

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
  {{#each model as |book|}}
    <tr>
      <th>{{book.title}}</th>
      <td>{{book.price}}</td>
    </tr>
  {{/each}}
  </tbody>
</table>

{{outlet}}
