<h1>Book list</h1>

{{#link-to 'books.new' class="btn btn-primary"}}Add new book{{/link-to}}
<br><br>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Options</th>
    </tr>
  </thead>
  <tbody>
  {{#each model as |book|}}
    <tr>
      <th>{{#link-to 'books.view' book.id }}{{book.title}}{{/link-to}}</th>
      <td>{{book.author.name}}</td>
      <td><button class="btn btn-danger btn-xs" {{action 'deleteBook' book}}>Delete</button>
      {{#link-to 'books.view' book.id }}<button class="btn btn-info btn-xs">Details</button>{{/link-to}}
      {{#link-to 'books.view' book.id }}<button class="btn btn-primary btn-xs">Edit</button>{{/link-to}}</td>
    </tr>
  {{/each}}
  </tbody>
</table>

{{outlet}}
